@import url('https://fonts.googleapis.com/css?family=Jersey 10:400i|Jersey 10:400,700&display=swap');
:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: 'Jersey 10', sans-serif;
    --font-serif: 'Jersey 10', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Jersey 10:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    background-color: #121214;
    color: #f5f5f7;
    font-family: "Jersey 10", monospace;
    overflow:scroll;
    overflow-x:hidden;
    background: linear-gradient(135deg, hsl(227, 42%, 9%), #121214);
}
body::-webkit-scrollbar {
    width: 0;
    background-color: transparent !important;
}
header {
    position: sticky !important;
    top: 0;
    background-color: #121214;
    text-wrap: nowrap;
    opacity: 70%;
    font-family: "Jersey 10", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.topnav {
    background-color: #000;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f0f0f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
font-family: "Jersey 10", monospace;
    font-size: 17px;
}

  /* Change the color of links on hover */
.topnav-right a:hover {
    background-color: #ddd;
    color: black;
  font-family: "Jersey 10", monospace;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2c9118;
    color: white;
  font-family: "Jersey 10", monospace;    
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .centers {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.topnav-right {
    float: right;
  }
.banner{
    width: 100%;
    top: 100;
    
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    padding: 1rem;
}
#card {
    display: flex;
    text-align: right;
}
.logo a {
    font-size: 3rem;
    text-align: left;
    font-weight: bold;
    color: #f0f0f0;
    text-decoration: none;
    text-wrap: nowrap;
}
@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.7),
        0 0 0.125em hsla(320, 100%, 60%, 0.7),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.5),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.7),
        0 0 0.125em hsla(320, 100%, 90%, 0.7),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.5),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.6);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.5),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }
.banner-text {
    text-align: center;
    margin-top: 5%;
    font-size: 5.5rem;
    font-weight: 300;
    font-family: "Jersey 10", monospace;
    animation: lights 5s 750ms linear infinite;
}

nav {
    display: flex;
    padding-left: 40%;
}
nav ul {
    display: flex;
}
nav ul li {
    margin-right: 2rem;
}
nav ul li a {
    color: #f5f5f7;
    text-decoration: none;
}
 * {
    box-sizing: border-box;
}

.page-content {
     display: grid;
     grid-gap: 1rem;
     padding: 1rem;
     padding-top: 20%;
     max-width: 1024px;
     margin: 0 auto;
     font-family: var(--font-sans);
}
@media (min-width: 600px) {
     .page-content {
         grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 800px) {
     .page-content {
         grid-template-columns: repeat(3, 1fr);
    }
}
.card {
     position: relative;
     display: flex;
     align-items: flex-end;
     overflow: hidden;
     width: 100%;
     text-align: center;
     color: whitesmoke;
     background-color: whitesmoke;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
 @media (min-width: 600px) {
     .card {
         height: 350px;
    }
}
 .card:before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 110%;
     background-size: cover;
     background-position: 0 0;
     transition: transform calc(var(--d) * 1.5) var(--e);
     pointer-events: none;
}
 .card:after {
     content: '';
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 200%;
     pointer-events: none;
     background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.393) 64.3%, rgba(0, 0, 0, 0.466) 69.3%, rgba(0, 0, 0, 0.537) 74.1%, rgba(0, 0, 0, 0.603) 78.7%, rgba(0, 0, 0, 0.664) 83.3%, rgba(0, 0, 0, 0.716) 87.9%, rgba(0, 0, 0, 0.759) 92.6%, rgba(0, 0, 0, 0.791) 97.6%, #000 100%);
     transform: translateY(-50%);
     transition: transform calc(var(--d) * 2) var(--e);
}
 .card:hover:before {
     transform: scale(1.15);
}
 .card:nth-child(1):before {
     background-image: url(https://media.giphy.com/media/ZVik7pBtu9dNS/giphy.gif);
}
 .card:nth-child(2):before {
     background-image: url(https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif);
}
 .card:nth-child(3):before {
     background-image: url(https://media.giphy.com/media/3o7aD2saalBwwftBIY/giphy.gif);
}
 .card:nth-child(4):before {
     background-image: url(https://media.giphy.com/media/26FPOB2zqnnPUMxby/giphy.gif);
}
 .card:nth-child(5):before {
     background-image: url(https://media.giphy.com/media/3oEjI4sFlp73fvEYgw/giphy.gif);
}
 .card-content {
     position: relative;
     padding: 1rem 1rem 1.5rem;
     margin: 0 auto;
     z-index: 1;
     pointer-events: none;
     transition: transform var(--d) var(--e);
}
 .card:hover .card-content {
     transform: translateY(0.5rem);
}
 .card h2 {
     font-size: 1.3rem;
     font-weight: normal;
}
 @media (min-width: 600px) {
     .card h2 {
         font-size: 1.5rem;
    }
}
 .card p {
     font-size: 0.9rem;
     font-weight: 300;
}
 @media (min-width: 600px) {
     .card p {
         font-size: 1rem;
    }
}
a {
    color: inherit;
    text-decoration: none;
}
 @media (hover: hover) and (pointer: fine) {
     .card:before {
         margin-top: -10%;
    }
    .card:after {
         margin-top: -25%;
    }
    .card:hover:before {
         margin-top: 0;
    }
    .card:hover:after {
         margin-top: -50%;
    }
}

.banner {
    width: 100%;
    height: auto;
}

.page-content {
    padding: 2% 5%;
    grid-gap: 2rem;
}

@media (max-width: 500px) {
    .page-content {
        grid-template-columns: 1fr;
    }

    .banner-text {
        font-size: 2.5rem;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .page-content {
        grid-template-columns: repeat(3, 1fr);
    }
}
